@charset "utf-8";

/* -------------------------------------------------------------

[1] 基础布局设定

----------------------------------------------------------------*/

/*全局设定*/

* {
  margin: 0;
  padding: 0;
}

/*链接的全局样式设定*/

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #0099FF; }

a:visited { color: #90f; }

a:hover { color: #f00; }

a:active { color: #f00; }

/*錨鏈接的樣式設定*/

a:link.anch,
a:visited.anch,
a:hover.anch,
a:active.anch { color: blue; }

a:link.anch { text-decoration: none; }

a:visited.anch { text-decoration: none; }

a:hover.anch { text-decoration: underline; }

a:active.anch { text-decoration: none; }

/*標題的全局樣式設定*/
h1 {
  margin-bottom: 100px;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.20);
  margin-bottom: 20px;
}

h3 { margin-bottom: 20px; }

/*無序列表樣式設定*/
li ul {
  margin-left: 20px;
}

/*强調*/
span {
  font-weight: bold;
}

pre {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: black;
  color: rgb(209, 209, 209);
  border-radius: 3px;
  width: 500px;
  line-height: 15px;
  overflow: auto;
  overflow-y: hidden;
}

code {
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
  background-color: black;
  color: rgb(209, 209, 209);
  border-radius: 3px;
}

/*----------------------------------------------
  [1] 基础布局设定 */
/*-- 按照html文档的block顺序排列 --*/

body {
  font-family: sans-serif;
  text-align: center;
  padding:0;
  margin: 0;
}

#bkgrcel {
  border: 1px solid rgba(128, 128, 128, 0.50);
  text-align: left;
  width: 890px;
  margin: 50px auto;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fff;
  background-position: top center;
}

#index {
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.20);
  margin-bottom: 20px;
}

#footer {
  width: 890px;
  margin-top: 50px;
}

.contents {
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.20);
  margin-bottom: 20px;
  line-height: 25px;
}

.cnt_block {
  margin-bottom: 20px;
}

#footer p {
  text-align: center;
}