@charset "utf-8";

/* -------------------------------------------------------------

[1] 基础布局设定
[2] header block设定
[3] contents block设定
[4] sidebar block设定
[5] footer block设定
[6] 使背景图片正常显示的样式设定

----------------------------------------------------------------*/

/*全局设定*/
* {
  margin: 0;
  padding: 0;
}

/*导入用Font Spider压缩过的字体*/
@font-face {
  font-family: "ヒラギノ角ゴ Pro W3";
  src: url("../font/sub-page-topics/ヒラギノ角ゴ Pro W3.woff2") format("woff2"),
       url("../font/sub-page-topics/ヒラギノ角ゴ Pro W3.woff") format("woff"),
       url("../font/sub-page-topics/ヒラギノ角ゴ Pro W3.ttf") format("truetype"),
       url("../font/sub-page-topics/ヒラギノ角ゴ Pro W3.eot") format("embedded-opentype"),
       url("../font/sub-page-topics/ヒラギノ角ゴ Pro W3.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "msgothic_2";
  src: url("../font/sub-page-topics/msgothic_2.woff2") format("woff2"),
       url("../font/sub-page-topics/msgothic_2.woff") format("woff"),
       url("../font/sub-page-topics/msgothic_2.ttf") format("truetype"),
       url("../font/sub-page-topics/msgothic_2.eot") format("embedded-opentype"),
       url("../font/sub-page-topics/msgothic_2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*链接的全局样式设定*/

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #0099FF; }

a:visited { color: #90f; }

a:hover { color: #f00; }

a:active { color: #f00; }

/*----------------------------------------------
  [1] 基础布局设定 */
/*-- 按照html文档的block顺序排列 --*/

body {
  font-size: 85%;
  font-family: "ヒラギノ角ゴ Pro W3", "msgothic_2", sans-serif;
  text-align: center;
  padding:0;
  margin: 0;
  background: url(../img/bg-body.gif) repeat-x 0 0;
}

#bkgrcel {
  text-align: left;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  background-position: top center;
}

#wrapper {
  text-align: left;
  width: 1000px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 100px;
  margin-bottom: 2em;
  position: relative;
}

#container { width: 100%; }

/*---- contents 部分 ----*/
#contents {
  width: 700px;
  float: right;
}

/*---- sidebar(header部分) ----*/
#sidebar {
  width: 250px;
  float: left;
}

#footer {
  width: 1200px;
  padding: 1em 0 2em;
  background-color: #AD46CD;
}

/*----------------------------------------------
  [2] header block设定 */
/*-- 按照html文档的block顺序排列 --*/

.logo_s1 {
  font-size: 300%;
  line-height: 1;
  position: absolute;
  top: 25px;
  right: 10px;
  color: #AD46CD;
}

.logo_s2 {
  font-size: 120%;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 70px;
  right: 10px;
  color: #666666;
}

.logo_t {
  font-size: 220%;
  text-shadow: 2.5px 2.5px 1px #999999;
  line-height: 1;
  position: absolute;
  top: 25px;
  color: #339900;
}

.logo {
  font-size: 120%;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
  position: absolute;
  top: 60px;
  color: #444;
}

.logo a {
  text-decoration: none;
  color: #000;
}

.logo a:hover {
  text-decoration: none;
  color: #f00;
}

.lb_new {
  background: url(../img/new.gif) no-repeat 90% 50%;
}

/*----------------------------------------------
  [3] contents block设定 */
/*-- 按照html文档的block顺序排列 --*/

#contents dl { margin: 0 0 2em; }

#contents dt {
  font-weight: bold;
  padding: 5px 1em 5px 10px;
  background-color: rgba( 255, 187, 255, 0.85 );
}

#contents dd {
  margin-bottom: 1em;
  padding: 1em 30px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  background-color: rgba( 255, 255, 255, 0.85 );
}

#contents p {
  font-family: "msgothic_2", sans-serif;
  font-size: 90%;
  line-height: 1.5em;
  margin-bottom: 1em;
}

#contents a.top,
#contents a:link.top,
#contents a:visited.top,
#contents a:hover.top,
#contents a:active.top {
  color: #0099FF;
  text-decoration: none;
  margin-left: 0;
  margin-right: 20px;
}

/*----------------------------------------------
  [4] sidebar block设定 */
/*-- 按照html文档的block顺序排列 --*/

#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
  font-size: 120%;
  margin-bottom: 0;
  padding: 4px 0 4px 30px;
  background: url(../img/logo_2.gif) no-repeat 3px 50%;
  background-color: #EEA2AD;
}

/*-- navigation --*/

#sidebar .navigation {
  list-style-type: none;
  margin: 0 0 2em;
}

/*-- botton(通常) --*/
#sidebar .navigation li { display: inline; }

#sidebar .navigation li a {
  font-size:100%;
  text-align: left;
  text-decoration: none;
  width: 250px;
  display: block;
  padding: 10px 0;
  border: 1px outset #fff;
  background-color: #eee;
  color: #060;
}

#sidebar .navigation li a:hover {
  border: 1px inset #fff;
  background-color: #ccc;
  color: #f00;
}

#sidebar dl { margin: 0 0 2em; }

#sidebar dt {
  font-weight: bold;
  padding: 5px 10px;
  background-color: #9cf;
}

#sidebar dt#index {
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba( 255, 187, 255 );
}

#sidebar dd {
  margin-bottom: 1em;
  padding: 1em 30px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  background-color: rgba( 255, 255, 255, 0.85 );
}

#sidebar p {
  font-size: 90%;
  line-height: 1.2em;
  margin-bottom: 1em;
  color: #f00;
}

#sidebar ul,
#sidebar ol {
  list-style-position: inside;
  margin: 1em 0;
  line-height: 1.2em;
}

#sidebar a {
  font-size: 100%;
}

/*-- sidebar中仅限中文的字间距 --*/
#sidebar span { letter-spacing: 2px;  }

/*-- sidebar中的table --*/
.table_01{
  width: 100%;
  border-collapse: collapse;
}

.table_01 th{
  width: 70%;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}

.table_01 td{
  text-align: center;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

/*----------------------------------------------
  [5] footer block设定 */
#footer p {
  width: 100%;
  text-align: center;
  color: white;
}

/*----------------------------------------------
  [6] 使背景图片正常显示的样式设定 */
#clr {
  clear: both;
  text-align: right;
  margin: 0;
}